@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(assets/transferir1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  width: 400px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  color: aliceblue;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  backdrop-filter: blur(5px);
  padding: 30px;
}

.container h1 {
  font-size: 30px;
  text-align: center;
}

.inputBox {
  position: relative;
  width: 100%;
  margin: 30px 0;
  height: 50px;
}

.inputBox input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  outline: none;
  font-size: 18px;
  color: #fff;
  padding: 0 10px;
}

.inputBox input::placeholder {
  color: aliceblue;
}

.inputBox i {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  color: aliceblue;
  font-size: 20px;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: -10px 0 20px 0;
}

.options label input {
  margin-right: 10px;
  accent-color: aliceblue;
}

.options a {
  color: aliceblue;
  text-decoration: none;
}

.options a:hover {
  text-decoration: underline;
}

button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 20px;
  background-color: aliceblue;
  color: #333;
  font-size: 18px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

button:hover {
  background-color: transparent;
  color: aliceblue;
  border: 2px solid aliceblue;
  transition: 0.5s;
}

.register {
  text-align: center;
  margin: 20px 0px 15px;
  font-size: 15px;
}

.register a {
  color: aliceblue;
  text-decoration: none;
  font-weight: 600;
}

.register a:hover {
  text-decoration: underline;
}
